{% extends "base.html" %}
{% block title %}{{ block.super }} {% endblock %}
{% block content %}
<table class = "table" >
  <thead>
<th> Name  </th>
<th> Description</th>
<th> Ages </th>
<th> Price </th>
  </thead>

<tbody>
{% for product in products %}
  <tr>
    <td><a href="{% url 'show' product.id %}"> {{ product.name }}
  </td>
    <td>{{ product.description|truncatewords:5 }}</td>
    <td>{{product.age_range}}</td>
    <td class = "price">{{product.price|floatformat:2}}</td>
{% endfor %}
  </tbody>
</table>
{% endblock %}

